<div class="flex flex-col items-center p-10">
  <h1 class="text-center text-3xl text-[#8C8273] font-serif">新規登録</h1>
  <p class="text-center pb-10 text-[10px] text-[#A8A297] tracking-widest uppercase font-light">Create Account</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'shared/error_message', object: resource %>

  <div class="field">
    <p><%= f.label :name, "なまえ" %></p>
    <p><%= f.text_field :name, autofocus: true, autocomplete: "name",
    class: "border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-brack" %></p>
  </div>

  <div class="field">
    <p><%= f.label :email, "メールアドレス" %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email",
    class: "border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-brack" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password, "パスワード" %></p>
    <% if @minimum_password_length %>
      <p>(<%= @minimum_password_length %>文字以上)</p>
    <% end %>
    <p><%= f.password_field :password, autocomplete: "new-password",
    class: "border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-brack" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation, "パスワード確認" %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password",
    class: "border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-brack" %></p>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>