<header class="w-full border-b bg-[#d17770]">
  <div class="max-w-8xl mx-auto px-4 py-4 flex items-center justify-between">
    
    <%= link_to root_path, class: "text-xl font-light text-white" do %>
      からだびより
    <% end %>

    <div class="flex items-center space-x-4">
      <% if user_signed_in? %>
        <%# --- ログイン後のみ表示 --- %>
        <%= link_to "マイページ", mypage_path, 
            class: "px-1 py-2 text-sm text-white hover:text-red-100 transition" %>
            
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete },
            class: "px-1 py-2 text-sm text-white hover:text-red-300 transition" %>
      <% else %>
        <%# --- ログイン前のみ表示 --- %>
        <%= link_to "ログイン", new_user_session_path,
            class: "px-1 py-2 text-sm text-white hover:text-red-200 transition" %>

        <%= link_to "新規登録", new_user_registration_path,
            class: "px-1 py-2 text-sm text-white hover:text-red-200 transition" %>
      <% end %>
    </div>
  </div>
</header>