<% content_for :page_title, "マイページ編集" %>

<div class="max-w-md mx-auto py-10 px-6">
    <h1 class="text-center text-3xl text-[#8C8273] font-serif">マイページ編集</h1>
  <p class="text-center pb-10 text-[10px] text-[#A8A297] tracking-widest uppercase font-light">Edit My page</p>

  <div class="bg-white rounded-[40px] p-8 shadow-sm border border-gray-100 mb-8">
    <div class="space-y-6">
  <%= form_with(model: @user, url: mypage_path, method: :patch, local: true, class: "space-y-6") do |f| %>

        <div class="space-y-2">
          <%= f.label :name, "なまえ", class: "block font-bold text-gray-700" %>
        <%= f.text_field :name, class: "w-full rounded-2xl border-gray-200 bg-gray-50 p-4" %>
        </div>

      <div class="space-y-2">
        <%= f.label :email, "メールアドレス", class: "block font-bold text-gray-700" %>
        <%= f.email_field :email, class: "w-full rounded-2xl border-gray-200 bg-gray-50 p-4" %>
      </div>

      <div class="pt-6">
        <%= f.submit "更新する", class: "w-full py-4 bg-red-300 text-white rounded-xl font-bold cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
</div>