<div id="<%= dom_id health_record %>">
  <p>
    <strong>User:</strong>
    <%= health_record.user_id %>
  </p>

  <p>
    <strong>Recorded at:</strong>
    <%= health_record.recorded_at %>
  </p>

  <p>
    <strong>Feeling:</strong>
    <%= health_record.feeling %>
  </p>

  <p>
    <strong>Fatigue level:</strong>
    <%= health_record.fatigue_level %>
  </p>

  <p>
    <strong>Stress level:</strong>
    <%= health_record.stress_level %>
  </p>

  <p>
    <strong>Sleep level:</strong>
    <%= health_record.sleep_level %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= health_record.memo %>
  </p>

</div>
