<div class="flex flex-col items-center justify-center gap-4 py-10 min-h-screen bg-[#fcfaf7] py-20">
  <h1 class="text-3xl font-serif">
    今日も一日お疲れさま
  </h1>

  <div class="flex items-baseline mb-6">
    <span class="text-2xl">
      <%= current_user.name %>さん
    </span>
  </div>

  <div class="w-full max-w-md px-6 mb-8">
    <div class="flex justify-between items-end mb-6">
      <h2 class="text-md">今週の体調バランス</h2>
    </div>

    <div class="flex justify-between gap-4">
      <% [
        { label: "ストレス", val: @stress_percent || 0 },
        { label: "からだの疲れ", val: @fatigue_percent || 0 },
        { label: 'ねむりの質', val: @sleep_percent || 0 }
      ].each do |item| %>

        <%
          graph_color = if item[:val] >= 70
                          "#c4232e" # 赤
                        elsif item[:val] >= 50
                          "#eab308" # 黄
                        else
                          "#a6bf6d" # 緑
                        end
        %>

      <div class="flex-1 flex flex-col items-center">
        <span class="text-[10px] pb-3"><%= item[:label] %></span>
          <div class="w-28 h-28 rounded-full flex items-center justify-center mb-2 relative"
               style="background: conic-gradient(<%= graph_color %> <%= item[:val] %>%, #f1f0ee 0);">
            
            <div class="w-[calc(100%-8px)] h-[calc(100%-8px)] bg-white rounded-full flex items-center justify-center">
              <div class="text-center">
                <span class="text-sm font-bold">
                <% if item[:label] == "ねむりの質" %>
                    <% if item[:val] >= 80 %>
                      うとうと
                    <% elsif item[:val] <= 50 %>
                      ぐっすり
                    <% else %>
                      まあまあ
                    <% end %>
                <% else %>
                  <% if item[:val] >= 80 %>
                    高め
                  <% elsif item[:val] >= 60 %>
                    まあまあ
                  <% else %>
                    低め
                  <% end %>
                <% end %>
              </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<div class="w-full max-w-md px-6 mb-12">
  <div class="bg-white rounded-[40px] p-8 shadow-sm border border-stone-100 text-center">

    <div class="flex items-center justify-center gap-2 mb-4">
      <span class="flex items-center gap-2 p-2 px-4 bg-stone-50 rounded-full text-emerald-800 text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
        </svg>
        <span><%= current_user.name %>さんへのアドバイス</span>
      </span>
    </div>

  <% if @display_record %>
    <% advice = @display_record.kampo_advice(@weekly_symptom_names) %>
    <div class="advice-card">
      <p class="mt-4 text-sm text-stone-600 leading-relaxed">
        「<%= advice[:message] %>」
      </p>
    </div>
  </div>
<% end %>
</div>
  
  <div class="pb-10">
    <%= link_to "体調を記録する", new_health_record_path, 
        class: "px-10 py-4 bg-[#d17770] text-white rounded-2xl hover:bg-[#cc6a63] shadow-lg transition-all inline-block font-medium" %>
  </div>
</div>